[manifest]
version = "1.0.0"
priority = 2147483647

# my day will be slightly nicer when lovely 0.9.0 is released
#[[patches]]
#[patches.copy]
#target = "main.lua"
#position = "append"
#payload = '''_mod_dir_immpath = "{{lovely_hack:patch_dir}}"'''

[[patches]]
[patches.pattern]
target = "main.lua"
position = "before"
pattern = "function love.run()"
payload = '''
_mod_dir_immpath = "{{lovely_hack:patch_dir}}"
'''
match_indent = true

[[patches]]
[patches.regex]
target = "functions/button_callbacks.lua"
position = "at"
pattern = '''e\.children\[1\]\.states\.visible = \w+\n\s*e\.children\[1\]\.config\.object\.states\.visible = \w+'''
payload = '''
if e.children[1] then
$0
end
'''
count = 2

[[patches]]
[patches.copy]
target = "main.lua"
position = "prepend"
sources = ["imm/patch_prepend.txt"]

[[patches]]
[patches.copy]
target = "main.lua"
position = "append"
sources = ["imm/patch_append.txt", "main.lua", "early_error.lua"]
